{% extends "blog/home.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card" style="width: 50rem;">

    <div class="media">
        <img src="{{profile.img.url}}" class="rounded-circle img_profile" alt="...">
    
        
    
    </div>
    <form method="post"  enctype="multipart/form-data" >
    
        {% csrf_token %}
            {{form_user | crispy }}  
        
        {{form_profile | crispy }}
        
        
        <button type="submit" class="btn btn-secondary"> Update </button>
        </form>

      </div>



    



{% endblock  %}