{% extends 'blog/home.html' %}
{% load crispy_forms_tags %}

    {% block content %}


{% for message in messages  %}

<div class="alert alert-{{message.tags}}" >
{{message}}
</div>

{% endfor %}

<form method="post">
 {%   csrf_token %}
    {{form | crispy }}
 
    <script src="https://www.google.com/recaptcha/api.js">

    </script>

<div class="g-recaptcha" data-sitekey ="6LcZS8IaAAAAAMvB5W89VMCaY_uBVx1yhCABE5gz"></div>



<input type="submit" value="create" class="btn btn-outline-success mt-2" >

</form>




{% endblock %}


