.img_profile {
  height: 60px;
  width: 62px;
  margin-right: 16px;
 

  }

 #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0c65bd;
}


.form-control {
  display: block;
  width: 80%;

}

input, button, select, optgroup, textarea {
  margin-left: 91px;

}
