{% extends "blog/home.html" %}


{% block content %}



<div class="card">
    <img src="{{post.image.url}}" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content | safe}}.</p>
      <p class="card-text">{{post.code_snippet | safe }}.</p>

      <a href="{% url 'home-post-path' %}" class="btn btn-primary">Back</a>

      <code class="language-python hljs">
        <span class="hljs-built_in">
pip install  django

        </span>
        
        <!-- <span class="hljs-string">django </span> -->
        

      </code>

{% if post.author == request.user %}

<a href="{% url 'update-path' post.pk %}" class="btn btn-outline-info">Update</a>

{% endif %}
  


    </div>
  </div>




{% endblock  %}