{% extends "blog/home.html" %}


{% block content %}

<table class="table table-striped">
    <thead>
      <tr class="lik">
        <th scope="col">Title</th>
        <th scope="col">Date & Time</th>
        <th scope="col">Price</th> 
        <th scope="col">Location</th> 
        <th scope="col"></th> 


      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>En ligne</td>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>

      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>En ligne</td>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>

      </tr>
      <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>En ligne</td>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>

      </tr>
    </tbody>
  </table>
 
{% endblock  %}
