{% extends "blog/home.html" %}



{% load crispy_forms_tags %}



{% block content %}


<div class="container">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">
                Our learners work at
                </h5>
                {% load static %}
                <img src="{% static 'assets/img/team/11.png' %}" class="card-img-top" alt="...">

            </div>
          </div>
        </div>







<div class="container" >
<form method="GET">

  {{filter_obj.form | crispy }}

<input type="submit" value="Search" class="btn btn-success">
</form>
</div>

<div class="row m-5">
    {% for post in page_obj   %} 

<div class="card m-3" style="width: 18rem;">
  
    <img src="{{post.image.url}}" class="card-img-top" alt="...">
 
    <div class="card-body">
      <p class="card-title text-center border-bottom"><strong>  {{post.title}}  </strong> 

       
        {% if post.is_new  %}
        <span class="badge badge-pill badge-danger">New</span>

        {% endif %}
            
    </p>
<br>

<div class="media mb-3">
    <img src="{{post.author.pp.img.url}}" class="mr-3 rounded-circle img_profile" alt="...">
    <div class="media-body"> 

      <a href="{% url 'user-path' post.author.username %}">Powred by : {{post.author.username}}</a> <br>
      
      <i class="far fa-clock"></i>
     {{post.duree}} hours
    </div>
  </div>

 

      <p >{{post.content | safe | truncatewords_html:15}}.</p>
      <a href="{% url 'detail-path' post.pk %}" class="btn btn-outline-primary">View Course</a>
    </div>
  </div>
  {% endfor %}

</div>


<!-- pagination -->
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}

      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">previous</a>
      
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}

      <a href="?page={{ page_obj.next_page_number }}"  class="btn btn-outline-info" >next</a>

      {% endif %}
  </span>
</div>



{% endblock  %}
    