{% extends "blog/home.html" %}




{% block content %}

<form method="get">

  {{filter_obj.form}}
<input type="submit" value="Search">
</form>


<div class="row m-5">
    {% for post in page_obj   %} 

<div class="card m-3" style="width: 18rem;">
  
    <img src="{{post.image.url}}" class="card-img-top" alt="...">
 
    <div class="card-body">
      <p class="card-title text-center border-bottom"><strong>  {{post.title}}  </strong> 

       
        {% if post.is_new  %}
        <span class="badge badge-pill badge-danger">New</span>

        {% endif %}
            
    </p>
<br>

<div class="media mb-3">
    <img src="{{post.author.pp.img.url}}" class="mr-3 rounded-circle img_profile" alt="...">
    <div class="media-body">
      <p>Powred by : {{post.author.username}}</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg>
    
     {{post.duree}} hours
    </div>
  </div>

 

      <p >{{post.content | safe | truncatewords_html:15}}.</p>
      <a href="{% url 'detail-path' post.pk %}" class="btn btn-primary">View Course</a>
    </div>
  </div>
  {% endfor %}

</div>


<!-- pagination -->
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}

      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">previous</a>
      
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}

      <a href="?page={{ page_obj.next_page_number }}"  class="btn btn-outline-info" >next</a>

      {% endif %}
  </span>
</div>



{% endblock  %}
    