{% extends "blog/home.html" %}


{% block content %}

<div class="row mt-2 pl-5" >
{% load static %}

    <div class="card  mr-3" style="width: 18rem;">
        <img src="{% static 'assets/blog.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Basics</h5>
          <p class="card-text">Python tutorial provides basic and advanced concepts of Python.

          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      
      <!-- <div class="card img-fluid mr-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
          <h4 class="card-title">Avro</h4>
          <p class="card-text">Tutorial for Apache Avro</p>
          <a href="#" class="btn btn-info">Learn</a>
        </div>
      </div> -->






      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/bootstrap.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">What is MngoDB</h5>
          <p class="card-text">DB tutorial provides basic and advanced concepts of Python. </p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/dentistdjangosm.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Guis</h5>
          <p class="card-text">GUI tutorial provides basic and advanced concepts of Python..</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/PythonMysql.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Sqlit3 
          </h5>
          <p class="card-text">
            
            
            Python tutorial provides basic and advanced concepts of Python.
            
            
            
            .</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>

      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/stock.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">FastApi</h5>
          <p class="card-text">FastApi tutorial provides basic and advanced concepts of Python. </p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/pythonPlayer.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">SIG mapping</h5>
          <p class="card-text">mapping tutorial provides basic and advanced concepts of Python..</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/SQLiteSM.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Pandas</h5>
          <p class="card-text">pandas tutorial provides basic and advanced concepts of Python. </p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/seo.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Vuejs</h5>
          <p class="card-text">Vue tutorial provides basic and advanced concepts of Python..</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/javascriptSM.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Robotics</h5>
          <p class="card-text">robotics tutorial provides basic and advanced concepts of Python..</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/UbuntuSm.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Open CV </h5>
          <p class="card-text">open cv tutorial provides basic and advanced concepts of Python.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/rails_todo_sm.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">TDD </h5>
          <p class="card-text">TDD tutorial provides basic and advanced concepts of Python..</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>

      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/pgAdmin.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Plone </h5>
          <p class="card-text">plone tutorial provides basic and advanced concepts of Python..</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>
      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/steemitPlayer.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Odoo</h5>
          <p class="card-text">odoo tutorial provides basic and advanced concepts of Python..</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>
      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/introruby.png' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">cms</h5>
          <p class="card-text">cms tutorial provides basic and advanced concepts of Python.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/email.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Anular </h5>
          <p class="card-text">angular tutorial provides basic and advanced concepts of Python..</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>

   


</div>

 
{% endblock  %}
