{% extends "blog/home.html" %}


{% block content %}



<div class="row">


  <div class="col-md-8 mr-5" >
    <img src="{{course1.image.url}}" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{course1.title}}</h5>
      <p class="card-text">{{course1.content}}.</p>

      <a href="{% url 'list-path' %}" class="btn btn-primary">Back</a>

</div>
  </div>
  
{% load static %}

  <div class="col-md-3" >


      <div class="card mt-3" style="width: 16rem;">
        <img src="{% static 'assets/nnfs-1.png' %}" class="card-img-top mb-3" alt="...">

        <ul class="list-group list-group-flush">

          <div class="card-header">
            Formations à venir
          </div>

{% for index , item in training  %}
  


{% if index < 8 %}
    
  <a href="{% url 'training-path' item.slug %}"> 

    <li class="list-group-item">

      
    {{item.title}}
    <br>
    <span class="label_event_date">
    🗓️ {{item.training_date |date:'d M o'}}
  </span>
  <br>
  <i class="fas fa-chalkboard-teacher"></i>

  
  {{item.course.count}} Courses


  
  </li>

  </a>

  {% endif %}

{% endfor %}
        
        </ul>
      </div>


  </div>



  </div>




{% endblock  %}