{% extends "blog/home.html" %}


{% block content %}

<div class="row mt-2 pl-5" >
{% load static %}

    <div class="card  mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      
      <!-- <div class="card img-fluid mr-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
          <h4 class="card-title">Avro</h4>
          <p class="card-text">Tutorial for Apache Avro</p>
          <a href="#" class="btn btn-info">Learn</a>
        </div>
      </div> -->






      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>

      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>

      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>
      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>
      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>


      <div class="card mr-3" style="width: 18rem;">
        <img src="{% static 'assets/img/portfolio/03-thumbnail.jpg' %}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <td> <a href="" class="btn btn-outline-primary">Register</a> </td>
        </div>
      </div>

   


</div>

 
{% endblock  %}
