{% extends "blog/home.html" %}


{% block content %}

<div class="row mt-2 pl-5" >

{% load static %}
{% for item in training  %}
  
    <div class="card  mr-3" style="width: 18rem;">
        <img src="{{item.img.url}}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text"> {{item.content | safe | truncatewords_html:11}}

          <td> <a href="{% url 'training-path' item.slug %}" class="btn btn-outline-success">View</a> </td>
        </div>
      </div>

      {% endfor %}




   


</div>

 
{% endblock  %}
